@use 'base/variables' as v;
@use 'base/mixins' as m;

header {
    
    position: relative;

    .bg-desktop {
        display: none;

        @include m.desktop {
            display: flex;
        }
    }


    .container__steps {
        display: flex;
        justify-content: center;
        gap: 1.8rem;
        margin: 3.2rem 0;
        
        @include m.desktop {
            margin: 0;

            flex-direction: column;
            position: absolute;
            top: 0;
            
            padding: 3rem;
            gap: 3rem;
        }
        


        & > div {
            display: flex;
            gap: 2rem;
        }
        &> div > .number {
            width: 3.5rem;
            height: 3.5rem;

            border-radius: 50%;
            border: 1px solid v.$White;
            color: v.$White;
            font-size: v.$font-size;
            font-weight: 500;
            display: grid;
            place-content: center;

            

        }
        .container__data-step {

            display: none;

            gap: 2rem;
            font-size: v.$font-size;


            @include m.desktop {
                display: block;
            }

            .number-step {
                text-transform: uppercase;
                color: v.$Cool-gray;
                font-weight: v.$bold;
            }

            .name-step {
                text-transform: uppercase;
                color: v.$Alabaster;
            }
        }
    }
}

