@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

//! Fuentes
$fuente_principal: 'Ubuntu' sans-serif;
$font-size: 16px;


//! Tamaño de Media Queries
$mobile: 375px;
$desktop: 768px;
// $desktop: 1440px;

//! Neutral
$Cool-gray: hsl(231, 11%, 63%);
$Light-gray: hsl(229, 24%, 87%);
$Magnolia: hsl(217, 100%, 97%);
$Alabaster: hsl(231, 100%, 99%);
$White: hsl(0, 0%, 100%);


//! Colores-Primarios
$Marine-blue: hsl(213, 96%, 18%);
$Purplish-blue: hsl(243, 100%, 62%);
$Pastel-blue: hsl(228, 100%, 84%);
$Light: hsl(206, 94%, 87%);
$Strawberry-red: hsl(354, 84%, 57%);


//! Fuentes
$regular : 400;
$normal: 500;
$bold: 700;
// $black: 800;